@model CroweHorwath.HelloWorld
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Crowe Harwath</title>
</head>
<body>
    <div> 
        @Model.SayGreeting()
    </div>
</body>
</html>
